* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 400;
}

.container {
  max-width: 1340px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

input,
button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn {
  padding: 10px 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  transition: 0.3s ease;

  &.edit {
    color: #6750a4;

    &:hover {
      background: #e6ddff;
    }
  }

  &.del {
    color: #cf1b1b;

    &:hover {
      background: #ffe1e1;
    }
  }
}